{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>{{ header }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for t in text2 %}
        {% if forloop.last %}
        <div class="col-sm-offset-2 col-sm-8"><a target="_blank" href="/quiz/{{ t.section }}"><button class="btn btn-default form-control">{{ t.name }}</button></a></div>
        {% else %}
        <div class="{% cycle 'col-sm-offset-1' '' %} col-sm-5"><a target="_blank" href="/quiz/{{ t.section }}"><button class="btn btn-default form-control">{{ t.name }}</button></a></div>
        {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}
{% block js %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#lastquestion").hide();
                $(".question").hide();
                $("#question1").show();
            });
            $(".answer").click(function(){
                $(this).addClass("active");
                $(this).parent().children(":button").addClass("disabled");
            });
            $(".ans-true").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("O");
            });
            $(".ans-false").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("X");
            });            
            $("#nextquestion").click(function(){
                var digis = $("#button1").text().split('/');
                var digi = parseInt(digis[0]);
                $("#question"+digi.toString()).hide();

                digi++;
                $("#question"+digi.toString()).show();
                
                digis = digi.toString() + "/{{l_t}}";
                $("#button1").text(digis);
                $("#questionbottom").text(digi);
                if (digi >= {{l_t}}) $(this).hide();
                if (digi > 1) $("#lastquestion").show();
                //var n = $("#button1");
                //$(n.text).css("background-color","yellow");
                //n.text = 2;
            });
            $("#lastquestion").click(function(){
                var digis = $("#button1").text().split('/');
                var digi = parseInt(digis[0]);
                $("#question"+digi.toString()).hide();
                digi--;
                $("#question"+digi.toString()).show();
                
                digis = digi.toString() + "/{{l_t}}";
                $("#button1").text(digis);
                $("#questionbottom").text(digi);
                if (digi <= 1) $(this).hide();
                if (digi < {{l_t}}) $("#nextquestion").show();

                //var n = $("#button1");
                //$(n.text).css("background-color","yellow");
                //n.text = 2;
            });
        </script>
{% endblock %}

