{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-10">
                    <h1>{{ header }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 bg-danger">1</div>
                <div class="col-xs-3 bg-info">2</div>
                <div class="col-xs-3 bg-success">3</div>
                <div class="col-xs-3 bg-warning">4</div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ m }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ol>
                        {% for t in text3 %}
                        <li>
                            <div class="row">
                                <div class="col-xs-6">
                                    {{ t.0 }}
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-danger">aa</button>
                                    <button class="btn btn-danger">bb</button>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
