{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        random
    </div>

</div>
{% endblock %}
{% block js %}
        <script type="text/javascript">
            $(document).ready(function(){
                $("#lastquestion").hide();
                $(".question").hide();
                $("#question1").show();
            });
            $(".answer").click(function(){
                $(this).addClass("active");
                $(this).parent().children(":button").addClass("disabled");
            });
            $(".ans-A").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("A");
            });
            $(".ans-B").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("B");
            });
            $(".ans-C").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("C");
            });
            $(".ans-D").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("D");
            });
            $(".ans-E").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("E");
            });
            $(".ans-F").click(function(){
                $(this).parent().parent().children(":first-child").children(".mychoice").text("F");
            });
            $("#nextquestion").click(function(){
                var digis = $("#button1").text().split('/');
                var digi = parseInt(digis[0]);
                $("#question"+digi.toString()).hide();

                digi++;
                $("#question"+digi.toString()).show();
                
                digis = digi.toString() + "/{{l_t}}";
                $("#button1").text(digis);
                $("#questionbottom").text(digi);
                if (digi >= {{l_t}}) $(this).hide();
                if (digi > 1) $("#lastquestion").show();
                //var n = $("#button1");
                //$(n.text).css("background-color","yellow");
                //n.text = 2;
            });
            $("#lastquestion").click(function(){
                var digis = $("#button1").text().split('/');
                var digi = parseInt(digis[0]);
                $("#question"+digi.toString()).hide();
                digi--;
                $("#question"+digi.toString()).show();
                
                digis = digi.toString() + "/{{l_t}}";
                $("#button1").text(digis);
                $("#questionbottom").text(digi);
                if (digi <= 1) $(this).hide();
                if (digi < {{l_t}}) $("#nextquestion").show();

                //var n = $("#button1");
                //$(n.text).css("background-color","yellow");
                //n.text = 2;
            });
        </script>
{% endblock %}

